@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */
.photogallery {
	border: 1px solid #000;
	background: #fff;
	margin: 10px;
	padding-bottom: 10px;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.photogallery_promotion {
	max-width: 400px;
	border: 1px solid #000;
	background: #fff;
}
.photogallery_promotionV {
	max-width: 200px;
	border: 1px solid #000;
	background: #fff;
	max-height: 400px;
}
.vgall_promo {

	text-align: center;
	bottom: 10px;
}
.vgall_promo img {
	
	padding: 5px 5px 5px 5px;
	margin: auto;

}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
	font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color:#333;
	background:#eee;
}

a, a:visited {
	color:blue;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

.photogallery_promotion {
	margin: 5px;
	max-width: 400px;
	border: 1px solid #000;
	background: #fff;
}
.photogallery_promotionV {
	max-width: 200px;
	border: 1px solid #000;
	background: #fff;
	max-height: 400px;
	margin: 5px;
}
.vgall_promo {

	text-align: center;
	bottom: 10px;
}
.vgall_promo img {
	
	padding: 5px 5px 5px 5px;
	margin: auto;

}
/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}



h1 {
	font: bold 36px/1.1 arial,sans-serif;
    margin: 0;
    padding-top: 6px;
    padding-left: 4px;
    padding-bottom: 10px;
    background: #fff;
}
h2 {
	font: bold 24px/1.1 arial,sans-serif;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 6px;
    padding-left: 4px;
    background: #fff;
}