@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */
.photogallery {
	outline: 1px solid #ccc;
	background: #fff;
	margin: 10px;
	padding-bottom: 10px;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
	padding-top: 10px;
	padding-bottom:10px;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.photogallery_promotion {
	max-width: 400px;
	padding: 10px;
	margin: 10px auto;
	outline: 1px solid #ccc;
	background: #fff;
}
.photogallery_promotionV {
	max-width: 200px;
	padding: 10px;
	margin: 10px auto;
	outline: 1px solid #ccc;
	background: #fff;

}

.horiz_def_gall img {
	padding: 5px 5px 5px 5px;
	margin: auto;

}

.vgall_promo {

	text-align: center;
	bottom: 10px;
}

.vgall_promo img {
	
	padding: 5px 5px 5px 5px;
	margin: auto;

}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


/*===================*/
/*=== Main Styles ===*/
/*===================*/

.photogallery_promotion {
	max-width: 560px;
	padding: 10px;
	background: #fff;
	outline: 1px solid #ccc;
	margin: 10px;
}
.photogallery_promotionV {
	max-width: 240px;
	background: #fff;
	outline: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
}
.vgall_promo {
	text-align: center;
	bottom: 10px;
}
.vgall_promo img {
	padding: 10px;
}
.vgall_promo img:nth-child(3){
	/*clear: left;*/
}
.horiz_def_desc {
	float:left; 
	width: 180px; 
	padding: 10px 0;
}
.horiz_def_gall{
	float:left; 
	max-width: 360px;
}
.horiz_def_gall img{
	padding: 10px;
}
.vert_def_desc {
	padding:10px 0;
}
