{% load sekizai_tags thumbnail %}
{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}photogallery/css/photogallery.css" />
{% endaddtoblock "css" %}
{% block promo %}
<section class="{% block main_promo_class %}photogallery_promotion{%endblock%}" id='id_photogallerypromotion_{{promotion.id}}' >
   
    <h2>{{promotion.title}}</h2>
    <div>
        <div class="{% block description_class %}horiz_def_desc{%endblock%}" >
           <p>{{promotion.description}}</p>
        </div>
        <div class="{% block promotion_class %}horiz_def_gall{%endblock%}" id="some_id">
            {% for image in gallery_images %}
                <a href="{{image.gallery_page_url}}">
                        <img src="{% thumbnail image.file 80x80 crop="True" upscale="True" %}">
                </a>
            {% endfor %}
        </div>
    </div>
    <div style="clear: both;"></div>
</section>
{% endblock %}