{% load sekizai_tags thumbnail %}
{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}photogallery/css/photogallery.css" />
{% endaddtoblock "css" %}

{% addtoblock "js" %}
<script src="{{ STATIC_URL }}photogallery/js/galleria-1.2.8.min.js"></script>
<script src="{{ STATIC_URL }}photogallery/js/galleria.classic.min.js"></script>
<script src="{{ STATIC_URL }}photogallery/js/respond.min.js"></script>
<script src="{{ STATIC_URL }}photogallery/js/photogallery.js"></script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-508d69e501048354"></script>
<script>

Galleria.configure({
        lightbox: false ,
        showcounter: false,
        height: 0.675,
        responsive: true,
        imageMargin: 3,
        extend: function(options) {
            var gallery = this;
            this.bind('loadfinish', function(e) {
                gallery_id = gallery.get('container').parentNode.id
                $("#id_share_"+gallery_id+" a").click(function (){
	                    index = gallery.getIndex()
	                    window_location = window.location.href.replace(/#.*/,"")
	                    gallery_id = gallery.get('container').parentNode.id
	                    link = window_location + '#' + gallery_id + '-' + index
	                    data = gallery.getData(index)
	                    addthis.update('share', 'url', link);
	                    addthis.update('share', 'title', data.title); 
	                    addthis.update('share', 'description', data.description);
	                    window.setTimeout(function(){
	                    	addthis.update('share', 'url', null);
	                        addthis.update('share', 'title', null); 
	                        addthis.update('share', 'description', null);
	                    	
	                    },1000)
                    } )        
                
            })

         },
        dataConfig: function(img) {
           //can add as many fields and tags to descr that we want to and I can alter the way the desc. box works  I just started with  
            return {
                title: $(img).next('h1').html(), 
                description: $(img).siblings('.descr').html(),
            };
        }
        });
		Galleria.ready(function() {
			var container = this.get('target');
		    var gallery_container_id = container.id;
		    selected_gallery_attrs = get_selected_gallery_attrs('{{promotion_link_attr}}')
			if(selected_gallery_attrs!=null && selected_gallery_attrs[1]==gallery_container_id)
		    {
				   this._options['show']=selected_gallery_attrs[2]
				   {% if scroll_to_gallery %}
				       selected_gallery_section = $('#id_section_'+gallery_container_id)
					   if(selected_gallery_section.offset())
			           {
						   $('html, body').animate({
		                       scrollTop: selected_gallery_section.offset().top
		                   }, {{scroll_to_gallery_delay}});
			           }
				{% endif %}
		    }
		})        

</script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script>
$(document).ready(function () {
    Galleria.run('#{{promotion_link_attr}}{{gallery.id}}', {
    });
})
</script>
{% endaddtoblock %}

<div id='id_share_photogallery{{gallery.id}}' class="addthis_toolbox addthis_default_style" style="float:right; padding-top:10px; width: 140px">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
</div>

<!-- AddThis Button END -->

<!-- AddThis Button BEGIN -->

<section class="photogallery gridContainer clearfix" id='id_section_photogallery{{gallery.id}}'>
    <h1>{{gallery.title}}</h1>

    <div class="some_class" id="{{promotion_link_attr}}{{gallery.id}}" >
        {% for image in gallery_images %}
        <div class="image">
            <a href="{% thumbnail image.file 640x360 crop="True" upscale="True" %}" >
	               <img src="{% thumbnail image.file 178x100 crop="True" upscale="True" %}" >
	               {% if image.name %}
		            
	               <h1 class="red_italic">{{image.name}}</h1>
		           <div class="descr">
		           		<p>
		           		{% if image.description %}
			               <strong>{{image.description}}</strong>
			               {% endif %}
			               {% if image.author %}
	   		               </br><i>by {{image.author}}</i>
	   		               {% endif %}
			               {% if image.default_caption %}
			               </br>{{image.default_caption}}
			               {% endif %}
			            </p>
		           </div>	
   	                {% endif %}          
            </a>
         </div>   
        {% endfor %}
    </div>
    
</section>
