{% load sekizai_tags thumbnail %}
{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}photogallery/css/photogallery.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}photogallery/css/boilerplate.css" />
    
    <style> 
 /* This rule is read by Galleria to define the gallery height: */
           
    </style>
{% endaddtoblock "css" %}

{% addtoblock "js" %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="{{ STATIC_URL }}photogallery/js/galleria-1.2.8.min.js"></script>
<script src="{{ STATIC_URL }}photogallery/js/galleria.classic.min.js"></script>
<script src="{{ STATIC_URL }}photogallery/js/respond.min.js"></script>

<script>
   


$(document).ready(function () {
	reg_ex = /.*#({{promotion_link_attr}}\d+)=(\d+)/
	matches = reg_ex.exec(window.location.href)
	if(matches!=null)
	{
		start_image_index = matches[2]
		gallery_name = matches[1]
		{% if scroll_to_gallery %}
		    if($("#id_"+gallery_name).offset())
		    {
		        $('html, body').animate({
		               scrollTop: $("#id_"+gallery_name).offset().top
		           }, {{scroll_to_gallery_delay}});
	        }
		{%endif%}
	}
	else
	{
		start_image_index = 0
	}
	
	Galleria.configure({
	    lightbox: true ,
	    showcounter: false,
	    height: 0.7625,
	    responsive: true,
	    
	    show : start_image_index
	    });
    Galleria.run('#photogallery{{gallery.id}}', {
     extend: function(options) {
        this.bind('image', function(e) {
            //console.log( this.get('container').parentNode ); //  window.location.search
            var nu=this.get('container').parentNode.id;
            var cc="=";
            var st=nu.concat(cc);
            var vl=e.index;
            var nurl=st.concat(vl);
            console.log(nurl);
            window.location.hash=nurl;
            
        });
     },
    dataConfig: function(img) {
       //can add as many fields and tags to descr that we want to and I can alter the way the desc. box works  I just started with  
        return {
            title: $(img).next('h1').html(), 
            description: $(img).siblings('.descr').html() 
            
        };
    }
	    
	});
})

	

</script>

{% endaddtoblock %}
<div class="addthis_toolbox addthis_default_style" style="float:right; padding-right:60px; padding-top:5px;">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-508d69e501048354"></script>
<!-- AddThis Button END -->

<!-- AddThis Button BEGIN -->

<section class="photogallery gridContainer" id='id_photogallery{{gallery.id}}'>
    <h1>{{gallery.title}}</h1>

    <div class="some_class" id="photogallery{{gallery.id}}" >
        {% for image in gallery_images %}
        <div class="image">
            <a href="{% thumbnail image.file 800x600 crop="True" upscale="True" %}" >
	           
	                <img src="{% thumbnail image.file 80x60 crop="True" upscale="True" %}" >
	                <h1>{{image.name}}</h1>
	                
	               <div class="descr"><strong>{{image.description}}</strong></br>{{image.default_caption}}</br><i>by {{image.author}}</i></div>
	          
            </a>
         </div>   
        {% endfor %}
    </div>
    
</section>
